name: Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Generate coverage
        run: go test -coverpkg=./... -coverprofile=profile.cov ./...

      - name: Upload coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
          github-token: ${{ secrets.GITHUB_TOKEN }}
